/* 전체 푸터 영역 */
footer {
   scroll-margin-top: 109px;
   background-color: #f3f3f3;
   display: flex;
   align-items: flex-end;
}
/* 푸터 콘텐츠 */
.footer_section {
   height: 500px;
   width: 100%;
   background-color: #1a1b1f;
   padding: 40px 20px;
   font-size: 13px;
   color: #797979;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
}
/* 상단 브랜드 아이콘 */
.top_footer {
   display: flex;
   gap: 12px;
   justify-content: center;
   margin-bottom: 24px;
}
.top_footer img {
   width: 50px;
}
/* 중간 푸터 정보 */
.mid_footer {
   margin-bottom: 50px;
   width: 100%;
}
.mid_footer ul {
   display: grid;
   grid-template-columns: repeat(4, 1fr);
}
.mid_footer ul li {
   width: 100%;
}
/* 아코디언 기본 상태: 닫힘  */
.mid_footer ul > li > ul {
   display: none;
   transition: all 0.3s ease;
}
/* 열렸을 때 */
.mid_footer ul > li.active > ul {
   display: block;
}

/* + 아이콘 */
.mid_footer ul > li > p::after {
   content: '＋';
   font-size: 16px;
   margin-left: auto;
   transition: transform 0.2s ease;
}
/* - 아이콘 (열렸을 때) */
.mid_footer ul > li.active > p::after {
   content: '－';
}

/* 제목 스타일 + 아코디언 토글 아이콘 */
.mid_footer ul > li > p {
   cursor: pointer;
   padding: 10px 20px;
   position: relative;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.mid_footer ul > li > ul > li {
   padding: 0 20px;
}
.mid_footer ul > li > ul > li > p::after {
   content: none;
   padding: 0px;
}

.mid_footer ul > li > ul > li.active > p::after {
   content: none;
   padding: 0px;
}

.mid_footer ul > li > ul > li > p {
   padding: 10px 0px;
}

.mid_footer ul > li > p > ul {
   max-height: 250px;
}

/* 하단 푸터 */
.bottom_footer {
   text-align: center;
   margin-top: 30px;
}
.bottom_footer ul {
   display: flex;
   justify-content: center;
   gap: 10px;
   margin: 10px 0;
}
/* 반응형 */
@media (max-width: 768px) {
   .footer,
   .footer_section {
      width: 100% !important;
   }
   .footer_section {
      height: auto;
      justify-content: center;
   }
   .top_footer {
      flex-wrap: wrap;
   }
   .mid_footer ul {
      grid-template-columns: none;
   }

   .mid_footer ul li {
      width: 100%;
      max-width: 700px;
   }
   .mid_footer ul > li > p {
      font-size: 13px;
      padding: 10px 0;
   }
   .mid_footer ul > li > ul {
      padding-bottom: 20px;
   }

   .mid_footer ul > li > ul > li > p,
   .mid_footer ul > li > ul > li > a,
   .mid_footer ul > li > ul > li {
      font-size: 10px;
   }

   .bottom_footer > p,
   .bottom_footer > ul > li > a {
      font-size: 10px;
   }
}
@media (max-width: 390px) {
   .top_footer {
      display: none;
   }
}
