/* ---------------------
HEADER
---------------------- */

header {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 3000;
   background-color: #1a1b1f;
   color: #f3f3f3;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
   padding: 0 20px;
}

.top-nav {
   display: flex;
   justify-content: space-between;
   font-size: 12px;
   padding: 10px 0;
}
.left-menu,
.right-menu {
   display: flex;
   gap: 16px;
}

.left-menu li,
.right-menu li {
   font-size: 15px;
   transition: all 0.3s ease;
}

.left-menu li:hover,
.right-menu li:hover {
   transform: translateY(5px);
   color: #fff;
}

.gnb {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 16px 0;
}
.logo img {
   height: 35px;
}

.logo-icons > img,
.right-icons {
   display: none;
}

/* 검색창 */
.search-row {
   display: none;
}
.search-btn {
   background: none;
   border: none;
   font-size: 16px;
   cursor: pointer;
}
.header-icons {
   position: relative;
   gap: 10px;
}
.header-icons img {
   height: 28px;
   transition: transform 0.3s ease;
}
.header-icons img:hover {
   transform: translateY(-5px);
}

/* 검색 슬라이드 기본 상태 */
.search-slide {
   position: absolute;
   top: 50%;
   right: 52px;
   transform: translateY(-50%) scaleX(0);
   transform-origin: right;
   background: #f3f3f3;
   border: 1px solid #1a1b1f;
   border-radius: 5px;
   padding: 3px 10px;
   display: flex;
   align-items: center;
   gap: 8px;
   opacity: 0;
   transition: transform 0.7s ease;
   pointer-events: none;
   z-index: 999;
}

.search-slide input {
   background: #f3f3f3;
   border: none;
   outline: none;
   font-size: 14px;
}
.search-slide .close-search-btn {
   background: none;
   border: none;
   font-size: 20px;
   color: #ddd;
   cursor: pointer;
}
/* 보여질 때 */
.search-slide.show {
   transform: translateY(-50%) scaleX(1);
   opacity: 1;
   pointer-events: auto;
}

/* 검색 버튼 숨김 */
#searchToggleBtn.hide {
   display: none;
}

/* ----------------------
menu 모달창 공통 스타일
---------------------- */
/* 햄버거 버튼 */
#hamburgerBtn {
   background: none;
   border: none;
   cursor: pointer;
}
#hamburgerBtn img {
   width: 42px;
}
/* 모달 래퍼 */
.modal-wrapper {
   display: none;
   position: fixed;
   inset: 0;
   z-index: 4000;
}
.modal-wrapper.show {
   display: flex;
   align-items: center;
   justify-content: center;
}
.modal-wrapper .overlay {
   position: absolute;
   inset: 0;
   background: rgba(0, 0, 0, 0.5);
}
/* 모달 본체 */
.modal.centered {
   position: relative;
   z-index: 6;
   max-width: 1000px;
   background: #fff;
   border-radius: 10px;
   animation: fadeIn 0.3s ease;
   color: #1a1b1f;
   display: flex;
   flex-direction: column;
}
.modal-inner {
   padding: 20px;
   flex: 1;
   display: flex;
   flex-direction: column;
   overflow: hidden;
}
/* 모달 닫기 버튼 */
.modal-close {
   position: absolute;
   top: 10px;
   right: 16px;
   font-size: 22px;
   background: none;
   border: none;
   cursor: pointer;
   z-index: 6;
}
/* 탭 버튼 */
.tabs {
   display: flex;
   justify-content: center;
   gap: 10px;
   border-bottom: 1px solid #ddd;
   position: sticky;
   top: 0;
   background: #fff;
   z-index: 5;
}
.tab {
   font-size: 16px;
   padding: 8px 16px;
   border: none;
   background: none;
   cursor: pointer;
}
.tab.active {
   font-weight: bold;
   border-bottom: 2px solid #1a1b1f;
}
/* name 리스트 */
.menu-header-list {
   border-bottom: 1px solid #ddd;
   list-style: none;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-bottom: 20px;
}
.menu-header-list li {
   cursor: pointer;
   font-size: 15px;
   padding: 12px;
   color: #1a1b1f;
}
.menu-header-list li:hover,
.menu-header-list .active-name {
   font-weight: bold;
   border-bottom: 2px solid #1a1b1f;
}
/* 카드 영역 */
#hoverCards {
   width: 100%;
   padding: 10px;
   overflow-y: auto;
   height: 100%;
   scrollbar-width: none;
   -ms-overflow-style: none;
}

#hoverCards::-webkit-scrollbar {
   display: none;
}

/* 카드 리스트: PC 기준 4열 */
.hover-card-list {
   display: grid;
   grid-template-columns: repeat(5, 1fr);
   gap: 16px;
}
/* 카드 */
.hover-card {
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   border-radius: 8px;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
   transition: transform 0.2s ease;
   background-color: #f3f3f3;
   height: 120px;
}
.hover-card:hover {
   transform: translateY(-4px);
}
.hover-card div {
   width: 100%;
   height: 100%;
   background-color: #f3f3f3;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.hover-card div img {
   width: 50px;
   height: 50px;
   object-fit: contain;
   margin-bottom: 6px;
}
.hover-card p {
   text-align: center;
   font-size: 14px;
   color: #333;
   margin: 0;
}

/* 애니메이션 */
@keyframes fadeIn {
   from {
      opacity: 0;
      transform: scale(0.95);
   }
   to {
      opacity: 1;
      transform: scale(1);
   }
}

/* 모바일 전용 하단 고정 바 */
#category-bar,
.mobileSearch {
   display: none;
}

/* ===============================
    반응형
 ================================= */

@media (max-width: 768px) {
   .header-icons {
      width: 100%;
   }

   .pc-search {
      display: none;
   }

   .search-row .hot-label img {
      border-radius: 20px;
      border-radius: 0.5px soild #1a1b1f;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
   }
   .search-row {
      margin: 20px;
      display: flex;
      align-items: center;
      background: #fff;
      padding: 8px;
      border-radius: 6px;
      color: #1a1b1f;
   }
   .search-row span {
      margin-right: 20px;
   }
   .search-row input {
      flex: 1;
      border: none;
      padding: 6px;
      font-size: 14px;
      outline: none;
   }

   .top-nav {
      display: none;
   }

   .mobileSearch {
      display: flex;
   }

   .gnb {
      flex-direction: column;
   }

   .gnb .header-icons {
      display: inline;
      margin-top: 15px;
   }

   .logo img {
      height: 25px;
   }

   .logo-icons > img,
   .right-icons {
      display: flex;
      align-items: center;
      gap: 5px;
   }

   .mobile-icons {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-top: 32px;
   }

   .logo-icons {
      display: flex;
      align-items: center;
      gap: 10px;
   }

   .logo-icons > a,
   .mobile-icons .right-icons > a {
      height: 25px;
   }

   .mobile-icons .right-icons > a > img {
      height: 25px;
      width: 25px;
   }

   .search-btn,
   .search-slide {
      display: none;
      width: 100%;
   }

   .mob-search-slide {
      width: 100%;
      background: #f3f3f3;
      border: 1px solid #1a1b1f;
      border-radius: 5px;
      padding: 3px 10px;
      display: flex;
      gap: 8px;
   }

   .mob-search-slide > input {
      width: 100%;
      border: none;
      background: #f3f3f3;
   }

   /* 모달 → 전체 페이지로 보이게 */
   .modal-wrapper {
      width: 100vw;
      height: 100vh;
      z-index: 3001;
      display: none;
   }

   .modal-wrapper.show {
      display: block;
   }

   @keyframes slideUpModal {
      0% {
         transform: translateY(100%);
      }
      100% {
         transform: translateY(0);
      }
   }
   @keyframes slideDownModal {
      0% {
         transform: translateY(0);
      }
      100% {
         transform: translateY(100%);
      }
   }

   .modal.centered {
      width: 100vw;
      height: 100vh;
      border-radius: 0;
      position: fixed;
      bottom: 0;
      left: 0;
      animation-duration: 0.7s;
      animation-fill-mode: forwards;
   }

   .modal-inner {
      height: 100%;
      padding-bottom: 90px;
      padding-top: 40px;
   }
   .modal-wrapper .overlay {
      display: none;
   }

   .hover-card-wrapper {
      height: 100%;
   }

   #hoverCards {
      padding: 5px;
      padding-bottom: 300px;
   }

   /* 카드 리스트: 모바일 3열 */
   .hover-card-list {
      grid-template-columns: repeat(3, 1fr);
   }
   .hover-card {
      height: auto;
   }
   .hover-card div {
      padding: 12px 0;
   }

   #category-bar {
      position: fixed;
      bottom: 0;
      width: 100%;
      background: white;
      border-top: 1px solid #ddd;
      display: flex;
      justify-content: space-around;
      padding: 10px 0;
      z-index: 9999;
   }

   #category-bar > div,
   #category-bar > a {
      width: 100%;
      min-width: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      color: #1a1b1f;
   }

   #hamburgerBtn {
      display: none;
   }
}

@media (max-width: 550px) {
   .tab {
      padding: 10px;
   }
   .modal-inner {
      padding: 10px;
      padding-top: 30px;
   }

   .menu-header-list {
      margin-bottom: 10px;
   }

   .menu-header-list li {
      font-size: 15px;
      padding: 10px;
   }

   #hoverCards {
      padding-bottom: 200px;
   }

   .modal-close {
      font-size: 15px;
   }

   .hover-card-list.service {
      grid-template-columns: 1fr;
   }

   .hover-card p {
      font-size: 14px;
   }

   .hover-card-list.service .hover-card p {
      font-size: 15px;
   }

   #category-bar {
      padding: 5px 0;
   }

   #category-bar > div,
   #category-bar > a {
      font-size: 11px;
   }
   #category-bar img {
      width: 50%;
      max-width: 30px;
   }
}
